---
const { title, scriptName, styleName } = Astro.props;

// Превращаем проп в массив
const scriptsArray = scriptName
    ? (Array.isArray(scriptName) ? scriptName : [scriptName])
    : [];
const stylesArray = styleName ? (Array.isArray(styleName) ? styleName : [styleName]) : [];

// подмен расширения
const getProdStyleName = (name) => {
    return name.endsWith('.scss') ? name.replace('.scss', '.css') : name;
};


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
		<link rel="icon" href="/img/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        <title>Astro Basics</title>

        <!--ПОДКЛЮЧЕНИЕ СТИЛЕЙ-->
        {/* ДЛЯ РАЗРАБОТКИ  (глобальные стили) */}
        {import.meta.env.DEV && (
                <link rel="stylesheet" href="src/assets/styles/global.scss" />
        )}

        {/* ДЛЯ СБОРКИ (глобальные стили) */}
        {import.meta.env.PROD && (
                <link rel="stylesheet" href={`./css/global.css`} />
        )}

        {stylesArray.length > 0 && stylesArray.map((name) => (
                <>
                    {/* ДЛЯ РАЗРАБОТКИ (динамические стили) */}
                    {import.meta.env.DEV && (
                            <link rel="stylesheet" href={`/src/assets/styles/${name}`} />
                    )}

                    {/* ДЛЯ СБОРКИ  (динамические стили) */}
                    {import.meta.env.PROD && (
                            <link rel="stylesheet" href={`./css/${getProdStyleName(name)}`} />
                    )}
                </>
        ))}

	</head>

    <body>


		<slot />


        <!--ПОДКЛЮЧЕНИЕ СКРИПТОВ -->

        {scriptsArray.length > 0 && scriptsArray.map((name) => (
                <>
                    {/* ДЛЯ РАЗРАБОТКИ (динамические скрипты) */}
                    {import.meta.env.DEV && (
                            <div set:html={`<script type="module" src="/src/assets/scripts/${name}"></script>`} />
                    )}

                    {/* ДЛЯ СБОРКИ (динамические скрипты) */}
                    {import.meta.env.PROD && (
                        <script is:inline type="module" src={`./js/${name}`}></script>
                    )}
                </>
        ))}
	</body>
</html>

