---
interface Props {
  title?: string;
  scripts?: string | string[];
  styles?: string | string[];
  libStyles?: string | string[];
  libScripts?: string | string[];
}

const { title, scripts, styles, libStyles, libScripts } = Astro.props;

// Превращаем проп в массив
const scriptsArray = scripts
  ? Array.isArray(scripts)
    ? scripts
    : [scripts]
  : [];

const libScriptsArray = libScripts
  ? Array.isArray(libScripts)
    ? libScripts
    : [libScripts]
  : [];

const stylesArray = styles ? (Array.isArray(styles) ? styles : [styles]) : [];

const libStylesArray = libStyles
  ? Array.isArray(libStyles)
    ? libStyles
    : [libStyles]
  : [];

// подмен расширения
const getProdStyleName = (name: string) => {
  return name.endsWith(".scss") ? name.replace(".scss", ".css") : name;
};
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="icon" href="/img/favicon.ico" />

    <title>{title}</title>

    <!-- LIBS STYLES -->
    {/* стили библиотек */}

    {/* стили библиотек (динамические) */}
    
    {
      libStylesArray.length > 0 &&
        libStylesArray.map((style) => (
          <link rel="stylesheet" href={`./libs/${style}`} />
        ))
    }

    <!-- STYLES -->
    {/* для разработки  (глобальные стили) */}
    {
      import.meta.env.DEV && (
        <link rel="stylesheet" href="src/assets/styles/global.scss" />
      )
    }

    {/* для сборки (глобальные стили) */}
    {
      import.meta.env.PROD && (
        <link rel="stylesheet" href={`./css/global.css`} />
      )
    }

    {
      stylesArray.length > 0 &&
        stylesArray.map((name) => {
          return (
            <>
              {/* для разработки (динамические стили) */}
              {import.meta.env.DEV && (
                <link rel="stylesheet" href={`/src/assets/styles/${name}`} />
              )}

              {/* для сборки  (динамические стили) */}
              {import.meta.env.PROD && (
                <link
                  rel="stylesheet"
                  href={`./css/${getProdStyleName(name)}`}
                />
              )}
            </>
          );
        })
    }
  </head>

  <body>

    <!-- CONTENT -->
    <slot />
    <!-- / CONTENT -->

    <!-- LIBS SCRIPTS -->

    {/* скртпты библиотек */}
    <script is:inline src="./libs/lazyload/lazyload.min.js"></script>

    {/* скртпты библиотек (динамические) */}
    {
      libScriptsArray.length > 0 &&
        libScriptsArray.map((s) => {
          return <script is:inline src={`./libs/${s}`} />;
        })
    }

    <!--SCRIPTS -->

    {/* для разработки  (глобальные скрипты) */}
    {
      import.meta.env.DEV && (
        <script src="/src/assets/scripts/main.js"></script>
      )
    }

    {/* для сборки (глобальные скрипты) */}
    {
      import.meta.env.PROD && (
        <script is:inline src={`./js/main.js`}></script>
      )
    }

    {
      scriptsArray.length > 0 &&
        scriptsArray.map((s) => (
          <>
            {/* для разработки (динамические скрипты) */}
            {import.meta.env.DEV && (
              <div
                data-astro="scripts"
                set:html={`<script type="module" src="/src/assets/scripts/${s}"></script>`}
              />
            )}

            {/* для сборки (динамические скрипты) */}
            {import.meta.env.PROD && (
              <script is:inline type="module" src={`./js/${s}`} />
            )}
          </>
        ))
    }
  </body>
</html>
